{%extends 'app/plantcoord.html'%}
{% load static %}
{% block linkshead%}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/consperfilestcoord.css' %}">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}


{% block titulo%}
<title>Consultar perfil estudiante</title>
{% endblock %}

{% block linksbody%}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
        <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
  <!--   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"></link> -->
    <script src="https://kit.fontawesome.com/f1466240f9.js" crossorigin="anonymous"></script>
 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"></link>
{% endblock %}

{% block encabezado%}
<h1 class="titulo" >Consultar perfil de estudiante</h1>
{%endblock%}

{% block contenido%}
<div class="formulario" >

<!--   <form action="">
      <div class="nombre" >
          <label >Escriba el nombre del estudiante que desea consultar en el sistema:</label>
      <input type="text"  required autofocus> <button type="submit" class="btn btn-lg btn-primary " ><i class="fas fa-search"></i>
          BUSCAR</button>
      </div>
  </form> -->

  <br>
  


 
  {% for est in estudiantes %}
  <div id="accordion" role="tablist">
  
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h3 class="mb-0">
            <a data-toggle="collapse" href="#{{est.id}}" aria-expanded="true" aria-controls="collapseOne"><i class="fas fa-user"></i>
              {{est.first_name}} {{est.last_name}}
            </a>
          </h3>
    </div>
    <div id="{{est.id}}" class="collapse " role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
              
              <span>Nombre y Apellidos:</span> <span class="datos" > {{est.first_name}} {{est.last_name}}  </span> 
                  <br>
                  <span>Email:</span> <a href="mailto:{{est.email}}">{{est.email}}</a> 
             <br>
             <br>
              <span>Fortalezas: </span>
              <p>{{est.fortalezas}} </p>
              <br>
              <span>Herramientas: </span>
              <p>{{est.herramientas}}</p>
              
                <span>Postulación aceptada:  </span> 
                
                <p>{{est.rechazada}} </p>
             

          </div>
    </div>
    </div>
   

    
    </div> 
    {% endfor %}
</div>


{%endblock%}

