{%extends 'app/plantcoord.html'%}
{% load static %}
{% block linkshead%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'app/css/consultaempresacoord.css' %}">    
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}


{% block titulo%}
<title>Consulta Empresa</title>
{% endblock %}

{% block linksbody%}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/f1466240f9.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
{% endblock %}

{% block encabezado%}
<h1 class="titulo">Consulta empresa</h1>
{%endblock%}

{% block contenido%}

<div class="jumbotron">
    <div class="row">
            
                <div class="card1 card border-info ">
                    <div class="titulos card border-info shadow   " ><h1 class="far fa-building" > Nombre:</h1>
                    </div>
                    <div class="anuncio  "><span class="fa">{{empresa.user.username}}
                    </span>
                    </div>
            </div>
            <div class="card2 card border-info ">
                <div class="titulos card border-info shadow   " ><h1 class="far fa-calendar-alt" > Fecha de creación:</h1>
                </div>
                <div class="anuncio  "><span class="fa">{{empresa.fecha_creacion}}
                </span>
                </div>
        </div>
        <div class="card3 card border-info ">
            <div class="titulos card border-info shadow   " ><h1 class="fas fa-city" > Ciudad:</h1>
            </div>
            <div class="anuncio  "><span class="fa">{{empresa.ciudad}}
            </span>
            </div>
    </div>
    <div class="card4 card border-info ">
        <div class="titulos card border-info shadow   " ><h1 class="far fa-user" > Nombre de contacto:</h1>
        </div>
        <div class="anuncio  "><span class="fa">{{empresa.nombre_contacto}}
        </span>
        </div>
</div>
<div class="card5 card border-info ">
    <div class="titulos card border-info shadow   " ><h1 class="far fa-envelope" > Email:</h1>
    </div>
    <div class="anuncio  "><span class="fa">{{empresa.user.email}}
    </span>
    </div>
</div>

         </div>
    </div> 

<span class="aviso">Lista de convocatorias de la empresa:</span>

    <div class="container">
            <div class="row col-md-8 col-md-offset-2 ">
            <table class="table table-bordered">
            <thead>
            
                <tr>
                    <th class="text-center">Nombre de la convocatoria</th>
                    <th class="text-center">Fecha de inicio</th>
                    <th class="text-center">Fecha final</th>
                    <th class="text-center">Cantidad de postulados</th>
                    <th class="text-center">Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for convocatoria in convocatorias_de_empresa %}
                    <tr>
                        <td class="text-center">{{convocatoria.nombre}}</td>
                        <td class="text-center">{{convocatoria.fecha_inicial}}</td>
                        <td class="text-center">{{convocatoria.fecha_final}}</td>
                        <td class="text-center">{{ convocatoria.cantidad }}</td>
                        {% if convocatoria.cerrada %}
                        <td class="cerrada text-center">Cerrada</td>
                        {% else %}
                        {% if not convocatoria.cerrada %}
                        <td class="abierta text-center">Abierta</td>
                        {% endif %}
                        {% endif %}
                       
                    </tr>
                    {% endfor %}
                    </tbody>
                
            </table>
            </div>
        
            </div>

{%endblock%}

