{%extends 'app/plantempr.html'%}
{% load static %}
{% block linkshead%}
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/consconvempresacerrada.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}


{% block titulo%}
<title>Consulta Convocatoria</title>
{% endblock %}

{% block linksbody%}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
 <script src="https://kit.fontawesome.com/f1466240f9.js" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
{% endblock %}

{% block encabezado%}
<h1 class="titulo">Consulta convocatoria</h1>
{%endblock%}

{% block contenido%}

<span class="primeranuncio"> Si una convocatoria esta en estado cerrada, no se puede efectuar cambios sobre el estado de postulación.</span>
<div class="jumbotron">
    <div class="row">
            
                <div class="card1 card border-info ">
                    <div class="titulos card border-info shadow   " ><h1 class="far fa-sticky-note" > Nombre:</h1>
                    </div>
                    <div class="anuncio  "><span class="fa">{{consulta.nombre}}
                    </span>
                    </div>
            </div>
            <div class="card2 card border-info ">
                <div class="titulos card border-info shadow   " ><h1 class="far fa-calendar-alt" > Fecha de inicio:</h1>
                </div>
                <div class="anuncio  "><span class="fa">{{consulta.fecha_inicial}}
                </span>
                </div>
        </div>
        <div class="card3 card border-info ">
            <div class="titulos card border-info shadow   " ><h1 class="far fa-calendar-alt" > Fecha final:</h1>
            </div>
            <div class="anuncio  "><span class="fa">{{consulta.fecha_final}}
            </span>
            </div>
    </div>
    <div class="card4 card border-danger ">
        <div class="titulos card border-danger shadow   " ><h1 class="fas fa-window-minimize" > Estado:</h1>
        </div>
        <div class="anuncio  "><span class="fa">Cerrada
        </span>
        </div>
</div>



         </div>
    </div> 


    <div class="container">
            <div class="row col-md-8 col-md-offset-2 ">
            <table class="table table-bordered">
            <thead>
            
                <tr>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Estado de postulación</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for postulante in postulantes   %}
                    <tr>
                        <td class="text-center">{{postulante.estudiante.user.first_name}}</td>
                        <td class="text-center">{{postulante.estudiante.user.email}}</td>
                        {% if postulante.rechazada %}
                        <td class="rechazada text-center">Rechazada</td>
                        {% else %}
                        <td class="text-center">Aceptada</td>
                        {% endif %}
                       
                    </tr>
                    {% endfor %}
                    </tbody>
                
            </table>
            </div>
        
            </div>

    <!-- <button type="button" class="btn "><i class="fas fa-save"></i> GUARDAR</button> -->
{%endblock%}

