{%extends 'app/plantcoord.html'%}
{% load static %}
{% block linkshead%}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/consestenpractica.css' %}">
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}


{% block titulo%}
<title>Consultar perfil estudiante práctica</title>
{% endblock %}

{% block linksbody%}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
        <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
  <!--   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"></link> -->
    <script src="https://kit.fontawesome.com/f1466240f9.js" crossorigin="anonymous"></script>
 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"></link>
{% endblock %}

{% block encabezado%}
<h1 class="titulo" >Consultar perfil de estudiantes en prácticas</h1>
{%endblock%}

{% block contenido%}
<br>
    <span class="anuncio" >La lista de los estudiantes esta organizada del más antiguo al más nuevo:</span>

<div class="formulario" >

    
    <br>
    {% for est in estudiantespractica %}
    <div id="accordion" role="tablist">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h3 class="mb-0">
              <a data-toggle="collapse" href="#{{est.id}}" aria-expanded="true" aria-controls="collapseOne"><i class="fas fa-user"></i>
                {{est.estudiante.user.first_name}} {{est.estudiante.user.last_name}}
              </a>
            </h3>
      </div>
      <div id="{{est.id}}" class="collapse " role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                
                <span>Nombre y Apellidos:</span> <span1> {{est.estudiante.user.first_name}} {{est.estudiante.user.last_name}}   </span> 
                    <br>
                    <span>Email:</span> <span1>{{est.estudiante.user.email}}   </span> 
               <br>
               <span>Fecha inicial:</span> <span1>{{est.convocatoria.fecha_inicial}}  </span> 
                <br>
                <span>Fecha final:</span> <span1>{{est.convocatoria.fecha_final}}  </span> 
                <br>
                <span>Empresa:</span> <span1>{{est.convocatoria.empresa.user.username}}   </span> 
                <br>
                <span>Semestre de la postulación:</span> <span1>{{est.semestre}}   </span> 
            </div>
      </div>
      </div>


      
    
      </div> 
      {% endfor %}
</div>

{%endblock%}



