{%extends 'app/plantcoord.html'%}
{% load static %}
{% block linkshead%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/crearestudiante.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock %}


{% block titulo%}
<title>Crear estudiante</title>
{% endblock %}

{% block linksbody%}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<script src="https://kit.fontawesome.com/f1466240f9.js" crossorigin="anonymous"></script>
{% endblock %}

{% block encabezado%}
<h1 class="titulo" >Crear estudiante</h1>
{%endblock%}

{% block contenido%}
<span class="anuncio" >Para crear una nueva cuenta a un estudiante,diligencia el siguiente formulario.</span>

<div class="formulario" >   

    <form action="{% url 'app:crear_est_f' %}" method="POST">
        {% csrf_token %}
        <div class="usuario" >
            <label for="username" >Username:*</label>
        <input type="text"  placeholder="Usuario" name="username" required autofocus> 
        </div>

        
        <div class="clave">
            <label for="password">Password:*</label>
            <input type="text"  placeholder="Clave" name="password" required > 
            
    </div>

        <div class="nombres">
            <label for="first_name">Nombres:*</label>
            <input type="text"  name="first_name" required > 
    </div>
        
    <div class="apellidos"  >
        <label for="last_name">Apellidos:*</label>
            <input type="text" name="last_name"  required > 
    </div>
    <div class="correo" >
        <label for="email">Email:*</label>
            <input type="email"  placeholder="Correo electrónico" name="email" required > 
    </div>

    <button type="submit" class="btn btn-lg btn-primary " ><i class="fas fa-check"></i>
        CREAR</button> 
    </form>
    <br>
    <span class="campos">Los campos marcados con * son obligatorios.</span>



</div>

{%endblock%}
