{%extends 'app/plantempr.html'%}
{% load static %}



{% block linkshead%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'app/css/crearconvempresa.css' %}">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock %}


{% block titulo%}
<title>Crear convocatoria</title>
{% endblock %}

{% block linksbody%}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<script src="https://kit.fontawesome.com/f1466240f9.js" crossorigin="anonymous"></script>
{% endblock %}

{% block encabezado%} 
<h1 class="titulo" >Crear una nueva convocatoria</h1>
{%endblock%}


{% block contenido%} 
<span class="anuncio" >Para crear una nueva convocatoria en el sistema completa los siguientes campos y al final oprime el botón aceptar.</span>

<div class="formulario" >

    <form action="{% url 'app:crear_conv_f' %}" method="POST">
        {% csrf_token %}
        <div class="nombre" >
            <label for="fecha_inicial" name="nombre" >Nombre:*</label>
        <input type="text"  name="nombre" required autofocus> 
        </div>

        
        <div class="fechaini" >
            <div class="form-group row"> 
                <label for="fecha_inicial" >Fecha inicial: </label>
                <input type="date"  name="fecha_inicial">
                        
           

        </div>
    </div>
    <div class="fechafin" >
        <div class="form-group row"> 
            <label for="fecha_final" >Fecha final:</label>
            <input type="date"  name="fecha_final">
                    
       

    </div>
</div>

        
    <div class="descripcion" >
        <label for="descripcion" >Descripción:</label>
            <textarea type="text" class="area" name="descripcion" placeholder="Escribe una pequeña descripción de la convocatoria..."  ></textarea>
    </div>

    <button type="submit" class="btn btn-lg btn-primary " ><i class="fas fa-check"></i>
        ACEPTAR</button>





    </form>
    <br>
    <span class="campos">Los campos marcados con * son obligatorios.</span>



</div>

{%endblock%}


