{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/estilocrearempresa.css' %}">
    <title>Crear Empresa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
    <body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
 <script src="https://kit.fontawesome.com/f1466240f9.js" crossorigin="anonymous"></script>

 <div class="contenedor" >
    <div class="header">
        <ul class="nav nav-pills">
            <li class="nav-item" >
              <a class="nav-link " href="{% url 'app:paginadeinicio' %}">
                
                <i class="fa fa-home" ></i> Inicio</a>
            </li>
            <li class="nav-item">
              
              <a class="informacion nav-link " href="{% url 'app:acercade' %}">
                
                <i class="fa fa-info-circle" ></i> Info</a>
            </li>
            
          </ul>
    </div>
    <div class="encabezado">
        <img src="{% static 'app/img/logo_teleco.png' %}" class="logo" alt="Logo UStA">  
           <h1 class="titulo" >Crear Empresa</h1>
           
 </div>
 <div class="row">
     
 <form action="{% url 'app:crearempresa_f' %}" class="formulario" method="POST">
  {% csrf_token %}
    <div class="form-group row">
        <label for="username" class="col-2" class="col-form-label">Usuario:*</label>
        <input type="text"  name="username" placeholder="Escribe tu usuario" class="form-control col-10" required autofocus> 
        
      </div>
      <div class="form-group row">
        <label  for="password"   class="col-2" class="col-form-label">Password:*</label>
          <input type="password" name="password"  placeholder="Digita una contraseña" class="form-control col-10" required>
      </div>
      <div class="form-group row">
        <label  for="razon_social"  class="col-2" class="col-form-label" >Razón Social:*</label>
        <textarea class="area form-control col-10" name="razon_social" placeholder="Escriba la razón social de la empresa..." rows="1" required></textarea>

      </div>
      <div class="form-group row">
        <label  for="ciudad"   class="col-2" class="col-form-label">Ciudad:*</label>
          <input type="text" name="ciudad"  placeholder="Digite la ciudad de la empresa" class="form-control col-10" required>
      </div>
      <div class="form-group row">
        <label  for="email"   class="col-2" class="col-form-label">Email:*</label>
          <input type="email"  name="email"  placeholder="Digita correo electronico" class="form-control col-10" id="inputEmail4" required>
      </div>
      <div class="form-group row">
        <label  for="nombre_contacto"   class="col-2" class="col-form-label">Nombre de contacto:*</label>
          <input type="text"  name="nombre_contacto" placeholder="Escriba el nombre de contacto" class="form-control col-10" required>
      </div>
      
      <button  type="submit"  class="bregistro btn btn-success "  >
        <i class="fas fa-check"></i>  REGISTRARSE
        
      </button> 
      
      <br>
      <span class="campos">Los campos marcados con * son obligatorios.</span>
      </form>
    
    </div>

  
  <div class="footer">
    <span class="contacto">Contacto y soporte: diegoazuero@usantotomas.edu.co - USTA </span>

    </div>
</div>
</body>
</html>