{%extends 'app/plantest.html'%}
{% load static %}


    {% block linkshead%}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/editarperfilest.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    {% endblock %}
    
    {% block titulo%}
    <title>Editar perfil</title>
    {% endblock %}
 
    {% block linksbody%}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
 <script src="https://kit.fontawesome.com/f1466240f9.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block encabezado%}
    <h1 class="titulo" >Editar mi perfil personal</h1>
    {% endblock %}
    
    {% block contenido %}
    
        <form action="{% url 'app:edit_perf_est_final' %}" method="POST" >
            {% csrf_token %}
    <div class="correo" >
        <label for="email" >Email:*</label>
    <input type="email" name="email"  placeholder="Escribe tu correo electronico" value="{{est.user.email}}" required>
    </div>
    <div class="fortalezas">
    <label for="fortalezas" >Fortalezas:</label> 
    <textarea type="text" name="fortalezas" class="area" placeholder="Escribe aquí tus fortalezas..."   >{{est.fortalezas}}</textarea>
    </div>
    <div class="herramientas">
        <label for="herramientas" >Herramientas:</label>
            <textarea type="text" class="area" name="herramientas"  placeholder="Escribe aquí las herramientas que domines..."  >{{est.herramientas}}</textarea>
        </div>


        <button type="submit" class="btn btn-lg btn-primary " ><i class="fas fa-save"></i>
            GUARDAR</button>
            
        </form>
        

        <div class="mensaje">
            Los campos marcados con * son obligatorios.
        </div>
    {% endblock %}
  



    
   