{% load static %}
<!DOCTYPE html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/info.css' %}">
    <title>Acerca de</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
        <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://kit.fontawesome.com/f1466240f9.js" crossorigin="anonymous"></script>
 

 <div class="contenedor">
    <div class="header">
        <ul class="nav nav-pills">
            <li class="nav-item" >
              <a class="ico nav-link " href="{% url 'app:paginadeinicio' %}">
                
                <i class="fa fa-home" ></i> Inicio</a>
            </li>
            <li class="nav-item">
              <a class="ico nav-link " href="{% url 'app:acercade' %}">
                
                <i class="fa fa-info-circle" ></i> Info</a>
            </li>

           
            </ul>

    </div> 
    <div class="encabezado" >
        <h1 class="titulo" >Acerda de...</h1>
        </div>

<div class="contenido">

     <div class="formulario" >
      <p class="primero">
        Para facilitar una de las opciones de grado (Pasantías) que tiene la facultad de ingeniería de telecomunicaciones de la universidad Santo Tomás, se dispone a crear este sistema de convocatorias el cual permite ser intermediador entre los estudiantes y las empresas que solicitan practicantes. Con el fin de que todo quede evidenciado en esta página y gestionado por el correspondiente coordinador de la facultad.
      </p>
<span class="sub" >Desarrollado por: </span> <span>  Diego Alejandro Azuero Buenaventura.</span>
<br>
<span class="sub">Fecha de implementación:  </span> <span>  01/08/2020</span>
<br>
<span class="sub">Versión:   </span> <span> 1.0.0 </span>
</div>


 
</div>



<div class="footer">

    <span1 class="contacto">Contacto y soporte: diegoazuero@usantotomas.edu.co - USTA </span>
</div>
</div>



     
 </body>

</html>