{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/iniciarsesion.css' %}">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
 <script src="https://kit.fontawesome.com/f1466240f9.js" crossorigin="anonymous"></script>

 <div class="contenedor">
    <div class="header">
        <ul class="nav nav-pills">
            <li class="nav-item" >
              <a class="nav-link " href="{% url 'app:paginadeinicio' %}">
                
                <i class="fa fa-home" ></i> Inicio</a>
            </li>
            <li class="nav-item">
              <a class="informacion nav-link " href="{% url 'app:acercade' %}">
                
                <i class="fa fa-info-circle" ></i> Info</a>
            </li>
            
          </ul>
    </div>
    <div class="encabezado" >

        <img class="logo" src="{% static 'app/img/logo_sinfondo.png' %}" alt="Logo teleco"> 
            <h1 class="titulo">Iniciar Sesión </h1>
    </div>
    <div class="registro">
        <div class="row">
            
                
                <div class="account-wall">
                    <img class="profile-img" src="{% static 'app/img/user.png' %}"alt="">

                    <form action="{% url 'app:post_iniciarsesion' %}" class="col-12" method="POST" >
                        {% csrf_token %}
                   <div  class="form-group row"  > 
                        <label for="username"class="usu col-form-label">Usuario:*</label>
                        <div class="col-sm-8">
                    <input type="text" name="username" class="form-control " placeholder="Escriba el nombre de su usuario"  required autofocus>
                </div>
                </div>
            

                <div  class="form-group row" class="form-signin" > 
                    
                    <label  for="password"   class="pass col-form-label">Password:*</label>
                    <div class="col-sm-8">
                    <input type="password"  name="password"  placeholder="Digita una contraseña" class="form-control " required>
                </div>
                </div>
                 

                
                
                    <button type="submit" class="btn btn-lg btn-primary btn-block" >
                        ENTRAR</button> 
                    </form>
                </div>
                </div>
            
            
        </div>
        
    </div>
    
    <div class="footer">
        <span class="contacto">Contacto y soporte: diegoazuero@usantotomas.edu.co - USTA </span>
    
        </div>

 </div>


</body>
</html>