{%extends 'app/plantcoord.html'%}
{% load static %}
{% block linkshead%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/iniciocoordinador.css' %}">
    
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}


{% block titulo%}
<title>Inicio coordinador</title>
{% endblock %}

{% block linksbody%}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://kit.fontawesome.com/f1466240f9.js" crossorigin="anonymous"></script>

{% endblock %}

{% block encabezado%}
<h1 class="titulo" >Bienvenido coordinador</h1>
{%endblock%}

{% block contenido%}

            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-file text-primary">
                                    </span> Convocatorias</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse ">
                                <div class="panel-body">
                                        
                                        <tr>
                                            <td>                                                                                
                                                <span class="glyphicon glyphicon-folder-open text-primary"></span><a href="{% url 'app:lista_conv' %}">  Lista de convocatorias</a>
                                            </td>
                                        </tr>
                                       
                                      
                                   
                                </div>
                            </div>
                            
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-briefcase text-primary">
                                    </span> Empresas</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                   
                                        <tr>
                                            <td>                                                                        
                                                <span class="glyphicon glyphicon-list text-info"></span>  <a href="{% url 'app:lista_empr' %}"> Lista de empresas</a> 
                                            </td>
                                        </tr>
                                       
                                       

                                   
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="
                                        glyphicon glyphicon-user text-primary">
                                    </span> Estudiantes</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <td>                                                                          
                                                <span class="glyphicon glyphicon-list text-info"></span>  <a href="{% url 'app:cons_est_perf' %}"> Lista de estudiantes</a> 
                                            </td>
                                        </tr>
                                       
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-user text-info"></span>  <a href="{% url 'app:crear_est' %}"> Crear estudiante</a> 
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>                                                                    
                                                <span class="glyphicon glyphicon-user text-info"></span>  <a href="{% url 'app:cons_est_pract' %}"> Histórico de estudiantes en 
                                                    practica</a> 
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-cog text-primary">
                                    </span> Configuración</a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    
                                        <tr>
                                            <td>                                                            
                                                <span class="glyphicon glyphicon-calendar"></span>  <a href="{% url 'app:edit_sem' %}"> Actualizar semestre</a> 
                                            </td>
                                        </tr>
                                   
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="container" >
                <div class="col-md-10">
                    <div class="well">
                        <h1>Menu:</h1>
                        Hola coordinador {{request.user.first_name}}, por medio del menu de la barra de la izquierda puedes hacer uso de diferentes funciones como rol de coordinador.
                    </div>
                </div>
            
        </div>

        </div>

        
        <img class="logo" src="{% static 'app/img/logo_sinfondo.png' %}" alt="Logo teleco">
    
{%endblock%}
