{%extends 'app/plantest.html'%}
{% load static %}

{% block linkshead%}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'app/css/listapostest.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

{% endblock %}


{% block titulo%}
<title>Lista de postulaciones</title>
{% endblock %}

{% block linksbody%}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/f1466240f9.js" crossorigin="anonymous"></script>

{% endblock %}


{% block encabezado%}
<h1 class="titulo" >Lista de postulaciones </h1>
{% endblock %}


{% block contenido %}
<span class="anuncio" >En la siguiente tabla encontraras toda la lista de postulaciones a las que has aplicado, dando clic al símbolo de la lupa en la columna de consultar podrás
    conocer más detalles. </span>
    <div class="container">
        <div class="row col-md-8 col-md-offset-2 ">
        <table class="table table-bordered">
        <thead>
        
            <tr>
                <th class="text-center">Nombre de la convocatoria</th>
                <th class="text-center">Fecha de postulación</th>
                <th class="text-center">Empresa</th>
                <th class="text-center" >Estado de postulación</th>
                <th class="text-center" >Consultar</th>
            </tr>
        </thead>
        <tbody>
            {% for post in postulaciones %}
                <tr>
                    <td class="text-center">{{post.convocatoria.nombre}}</td>
                    <td class="text-center">{{post.fecha_creacion}}</td>
                    <td class="text-center">{{post.convocatoria.empresa.user.username}}</td>
                    {% if  post.rechazada %}
                    <td class="rechazada text-center">Rechazada</td>
                    {% else %}
                    <td class="text-center">Aceptada</td>
                    {% endif %}
                    {% if  post.rechazada %}
                    <td class="text-center"><a class='btn btn-info btn-xs' href="{%  url  'app:post_est_rech' post.id %}"><span class="glyphicon glyphicon-search"></span> </a> 
                    {% else %}
                    <td class="text-center"><a class='btn btn-info btn-xs' href="{%  url  'app:post_est_acep' post.id %}"><span class="glyphicon glyphicon-search"></span> </a> 
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            
        </table>
        </div>
    </div>


{% endblock %}
