{%extends 'app/plantcoord.html'%}
{% load static %}
{% block linkshead%}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="{% static 'app/css/listadeempresas.css' %}">
{% endblock %}


{% block titulo%}
<title>Lista de empresas</title>
{% endblock %}

{% block linksbody%}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/f1466240f9.js" crossorigin="anonymous"></script>
{% endblock %}

{% block encabezado%}
<h1 class="titulo" >Lista de empresas</h1>
{%endblock%}

{% block contenido%}
<span class="anuncio" > A continuación se encuentran todas las empresas que están registradas en el sistema:</span>

<div class="container">
    <div class="row col-md-8 col-md-offset-2 ">
    <table class="table table-bordered">
    <thead>
    
        <tr>
            <th class="text-center">Nombre empresa</th>
            <th class="text-center">Ciudad</th>
            <th class="text-center">Nombre de contacto</th>
            <th class="text-center" >Email</th>
            <th class="text-center" >Consultar</th>
        </tr>
    </thead>
    <tbody>
        {% for empr in lista_de_empresas %}
            <tr>
                <td class="text-center">{{empr.user.username }} </td>
                <td class="text-center">{{empr.ciudad}}</td>
                <td class="text-center">{{empr.nombre_contacto}}</td>
                <td class="text-center">{{empr.user.email}}</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="{%  url  'app:cons_empr' empr.id %}"><span class="glyphicon glyphicon-search"></span> </a> 
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
    </div>
</div>
{%endblock%}
