{%extends 'app/plantcoord.html'%}
{% load static %}
{% block linkshead%}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="{% static 'app/css/listaconvcoordinador.css' %}">
{% endblock %}


{% block titulo%}
<title>Lista de convocatorias</title>
{% endblock %}

{% block linksbody%}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/f1466240f9.js" crossorigin="anonymous"></script>
{% endblock %}

{% block encabezado%}
<h1 class="titulo" >Lista de convocatorias</h1>
{%endblock%}

{% block contenido%}
<span class="anuncio" > A continuación se encuentran todas las convocatorias que están registradas en el sistema:</span>

<div class="container">
    <div class="row col-md-8 col-md-offset-2 ">
    <table class="table table-bordered">
    <thead>
    
        <tr>
            <th class="text-center">Nombre de la convocatoria</th>
            <th class="text-center">Fecha de inicio</th>
            <th class="text-center">Fecha final</th>
            <th class="text-center" >Cantidad de postulados</th>
            <th class="text-center" >Estado</th>
            <th class="text-center" >Consultar</th>
        </tr>
    </thead>
    <tbody>
        {% for conv in coord_convocatorias %}
            <tr>
                <td class="text-center">{{conv.nombre}}</td>
                <td class="text-center">{{conv.fecha_inicial}}</td>
                <td class="text-center">{{ conv.fecha_final }}</td>
                <td class="text-center">{{ conv.cantidad }}</td>
                {% if conv.cerrada %}
                    <td class="cerrada text-center">Cerrada</td>
                    <td class="text-center"><a class='btn btn-info btn-xs' href="{% url 'app:cons_conv_c'  conv.id %}"><span class="glyphicon glyphicon-search"></span> </a> 
                    {% else %}
                    {% if not conv.cerrada %}
                    <td class="abierta text-center">Abierta</td>
                    <td class="text-center"><a class='btn btn-info btn-xs' href="{% url 'app:cons_conv_a'  conv.id %}"><span class="glyphicon glyphicon-search"></span> </a> 
                    {% endif %}
                    {% endif %}                                                 
                
            </tr>
            {% endfor %}
            
        </tbody>
        
    </table>
    </div>
</div>
{%endblock%}
