{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/estilo1.css' %}">
    <title>Administrador de practicas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
 <script src="https://kit.fontawesome.com/f1466240f9.js" crossorigin="anonymous"></script>

    <div class="contenedor" >
        <div class="header">
            <ul class="nav nav-pills">
                <li class="nav-item" >
                  <a class="nav-link " href="{% url 'app:paginadeinicio' %}">
                    
                    <i class="fa fa-home" ></i> Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="informacion nav-link " href="{% url 'app:acercade' %}">
                    
                    <i class="fa fa-info-circle" ></i> Info</a>
                </li>
                
              </ul>
        </div>
        <div class="presentacion">
            <h1 class="titulo">Administrador de practicas Ingeniería de telecomunicaciones </h1>
            <br>
            <img class="logo" src="{% static 'app/img/logo_teleco.png' %}" alt="Logo teleco"> 
          
           
        </div>
        <div class=" prueba">
            <div class="ingresar" >
                <h1 class="titulos">Ingresar al sistema.</h1>
                
                <p class="texto">
                    Si eres estudiante,coordinador o empresa y ya te encuentras registrado,dale al botón acceder.
                </p>
                <a href="{% url 'app:iniciarsesion' %}">
                <button class="boton1" >
                    <i class="icono fas fa-door-open"></i> ACCEDER
                  </button>
                </a>
                
            </div>
        </div>
        <div >
            <div class="inscripcion">
                <h1 class="titulos">Inscripción Empresa.
                </h1>
                
                <p class="texto">
                    Si eres representante de una empresa y deseas inscribirla en el sistema,oprime el botón ¡CREAR!. Después de inscribir tu empresa automáticamente quedaras registrado.
                </p>
                <a href="{% url 'app:crearempresa' %}">
                <button class="boton2" >
                    <i class="fas fa-marker"  ></i>  !CREAR¡
                  </button>
                </a>
                
            </div>

        </div>
        <div class="footer">
        <span class="contacto">Contacto y soporte: diegoazuero@usantotomas.edu.co - USTA </span>

        </div>
    </div>
    
</body>
</html>