{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    
    {% block linkshead%}
    
    {% endblock %}
    
   
    {% block titulo%}
    
    {% endblock %}
   
   

</head>
    <body>

    {% block linksbody%}
    
    {% endblock %}
    

    <div class="contenedor">
        <div class="header">
            <ul class="nav nav-pills">
                <li class="nav-item" >
                  <a class="ico nav-link " href="{% url 'app:inicio_coord' %}">
                    
                    <i class="fa fa-home" ></i> Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="ico nav-link " href="{% url 'app:acercade' %}">
                    
                    <i class="fa fa-info-circle" ></i> Info</a>
                </li>
        
                    <li class="secun nav-item">
                      <a class="ico nav-link " href="{% url 'app:salir' %}">
                        
                        <i class="fas fa-sign-out-alt" ></i>Cerrar sesión</a>
                    </li>
                </ul>
        

        </div>
        <div class="encabezado" >
            
            {% block encabezado%} 

            {%endblock%}

        </div>

        <div class="contenido" >
            {% block contenido%} 
            

            {%endblock%}
        </div>
        <div class="footer" >
            {% block footer%} 
            
            <span class="contacto">Contacto y soporte: diegoazuero@usantotomas.edu.co - USTA </span>
            {%endblock%}
            
        </div>
    </div>
</body>
</html>