*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    
    .contenedor{
        width: 100vw max-content;
      height: 100vh ;
      
        display: grid;
        grid-template: 20px 75px 1fr 23px / 1fr;
        grid-template-areas: "header "
                                "encabezado "
                                "contenido "
                                "footer ";
        /* overflow: hidden; */
    }
    
    .header{
        display: flex;
        justify-content: flex-end;
        grid-area: header;
        background-color: #E2E0DF;
        margin-top: -10px;
    }
    .encabezado{
        grid-area: encabezado;
        background-color: #B1D2E1;
        border-bottom: 5px solid white;
    }
    .titulo{
        color: #08398B;
        margin-left: 5px;
        margin-top: 23px;
        font-size: 43px;
        font-weight: bold;
        }
    .contenido{
        grid-area: contenido;
        background-color: #C4EDFF;
        
    }
    
    .footer{
        border: 2px solid black;
        text-align: center;
        grid-area: footer;
        background-color: #E2E0DF;
        /* margin-top: 3%; */
    }

   /*  .formulario{

        border: 5px solid black;
        height: 500px;
        width: 1400px;
       margin-left: 3%;
       background-color: #F6F5F5;
       border-radius: 20px;
       box-shadow: 5px 5px 5px #666;
       margin-top: 50px;
    } */
    .ico{
        color: #007bff;
    }

.anuncio{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 10px;
    
}
.nombre{
    font-size: 20px;
    padding-left: 50px;
    padding-top: 50px;
  
}

.fechaini{
   margin-top: -35px;
    padding-left: 500px;
    font-size: 20px;
}

.fechafin{
    margin-top: -50px;
    padding-left: 1000px;
    font-size: 20px;
}
.descripcion{
    padding-left: 43px;
font-size: 20px;
}
.area{
    font-size: small;
   height: 280px;
    width: 89%;
    resize: none;
}

.btn{
   /*  margin-top: 17px;
    margin-left: 600px; */
     font-size: 15px !important;
     width: 130px;
     font-weight: bold;
     background-color:#08398B !important;
     box-shadow: 3px 3px 3px #666;
     border-radius: 40px ;
     border: #08398B;
     font-family: Arial, Helvetica, sans-serif;
 } 
 .btn:hover{
    background-color: #4675C5 !important;

}
.campos{
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding-left: 10px;
}


[data-toggle="collapse"]:after {
    display: inline-block;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      content: "\f054";
      transform: rotate(90deg) ;
      transition: all linear 0.25s;
      float: right;
      }   
    [data-toggle="collapse"].collapsed:after {
      transform: rotate(0deg) ;
    }
span{
    color: #08398B;
    font-weight: bold;
    font-size: 15px;
}
/* .correo{
    color: black;
    display: flex;
    justify-items: right;
    justify-content: right;
} */
