*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    
    .contenedor{
        width: 100vw max-content;
        height: 100vh ;
        display: grid;
        grid-template: 20px 75px 1fr 23px / 1fr;
        grid-template-areas: "header "
                                "encabezado "
                                "contenido "
                                "footer ";
        
    }
    
    .header{
        display: flex;
        justify-content: flex-end;
        grid-area: header;
        background-color: #E2E0DF;
        margin-top: -10px;
    }
    .encabezado{
        grid-area: encabezado;
        background-color: #B1D2E1;
        border-bottom: 5px solid white;
    }
    .titulo{
        color: #08398B;
        margin-left: 5px;
        margin-top: 23px;
        font-size: 43px;
        }
    .contenido{
        grid-area: contenido;
        background-color: #C4EDFF;
    }
    
    .footer{
        text-align: center;
        grid-area: footer;
        background-color: #E2E0DF;
    
    }
    
    .titulos{
      background-color:#08398B;
       font-size: 30px;
        color:white;
        width: 100% !important; 
       padding-top: 5px;
       padding-left: 10px;
    }

    .primeranuncio{

color:black;
font-size: larger;
margin-left: 10px;


    }
    .card{
       /*  height: 50%;
        width: 20%; */
        width: 300px;
        height: 100px;
        margin-top: -20px;
       
    }
    .card1{
    
        margin-left: 5%;
    
    }
    .card2{
        width: 380px;
        height: 100px;
        margin-left: 10%;
    
    }
    .card3{
    
       /*  margin-top: 10%; */
       margin-top: -100px;
        margin-left: 1000px;
    }
    .card4{
        margin-top: 50px;
        height: 100px;
        width: 400px;
        margin-left: 70px;
    }
    .card5{
        margin-top: 50px;
        height: 100px;
        width: 360px;
        margin-left: 350px;
    }

    .anuncio{
        font-size: 30px ;
        color: black;
        text-align: center;
    }
    .jumbotron{
    
      
        background-color: #C4EDFF;
    }

    table{
      margin-top: 5%;
        margin-left: 250px;
        box-shadow: 3px 3px 2px #ccc;
        transition: 0.5s;
    }
    table:hover{
        box-shadow: 3px 3px 0px transparent;
        transition: 0.5s;
        } 
    
    thead{
        background-color:  #08398B;
        color: white;
        font-weight: bold ;
    }
    
    tbody{
       
       

        color: black;
        background-color: white;
    }
    
    .table-bordered,td,th{
    
        border: 3px solid black !important;
    }
    .rechazada{

        color: red;
    }
.aviso{
   
    margin-left: 10px;
    color: black;
    font-size: 25px;
}

.cerrada{
    color: red;
    font-weight: bold;
}
.abierta{
    color: black;
    font-weight: bold;
}