*{
margin: 0;
padding: 0;
box-sizing: border-box;    
}
.contenedor{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 20px 75px 1fr 23px / 1fr;
    grid-template-areas: "header "
                            "encabezado "
                            "contenido "
                            "footer ";
    
}

.header{
    display: flex;
    justify-content: flex-end;
    grid-area: header;
    background-color: #E2E0DF;
    margin-top: -10px;
}
.encabezado{
    grid-area: encabezado;
    background-color: #B1D2E1;
    border-bottom: 5px solid white;
}
.titulo{
    color: #08398B;
    margin-left: 5px;
    margin-top: 23px;
    }
.contenido{
    grid-area: contenido;
    background-color: #C4EDFF;
}
.correo{
border: 3px solid black;
width: 301px;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: medium;
border-radius: 5%;
margin-left: 5%;
margin-top: 10%;
background-color:#08398B;
color: white;
}
.footer{
    text-align: center;
    grid-area: footer;
    background-color: #E2E0DF;

}

.fortalezas{
 width: 500px; 
    border: 3px solid black;
    margin-left: 450px;
    margin-top: -100px;
    background-color:#08398B;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    height: 300px;
    
}
.herramientas{
    
    width: 500px;
    height: 300px;
    border: 3px solid black;
    margin-left: 1000px;
    margin-top: -19.5%;
    background-color:#08398B;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;

}
  .area{
   font-size: medium;
    width: 100%;
    height: 82%;
    resize: none;
    
}  

.btn{
   margin-top: -150px;
   margin-left: 125px;
    font-size: 25px;
    width: 200px;
    font-weight: bold;
    background-color:#08398B;
    box-shadow: 3px 3px 3px #666;
    border-radius: 40px ;
    border: #08398B;
    font-family: Arial, Helvetica, sans-serif;
} 

.btn:hover{
    background-color: #4675C5;

}
.mensaje{
   color: black;
   font-weight: bold;
   margin-left: 10px;
   margin-top: 190px;
}