*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 .contenedor{

    width: 100vw;
    height: 100vh;
   
    color: black;
    display: grid;
   /*   grid-gap: 20px;  */
    grid-template: 20px 75px 1fr 23px / 1fr;
    grid-template-areas: "header "
                            "encabezado "
                            "contenido "
                            "footer ";
    overflow: hidden;   
    
}
.header{
    display: flex;
    justify-content: flex-end;
    grid-area: header;
    background-color: #E2E0DF;
    margin-top: -10px;
    
    
}

.encabezado{

    grid-area: encabezado;
    background-color: #B1D2E1;
    border-bottom: 5px solid white;
}
.titulo{
color: #08398B;
margin-left: 5px;
margin-top: 23px;
font-size: 43px;
font-weight: bold;
}
.contenido{
    grid-area: contenido;

   background-color: #08398B;
   border: 1px solid black;
   
}
.footer{
    text-align: center;
    grid-area: footer;
    background-color: #E2E0DF;
}

.holi{
    color: black;
   
} 

.ico{
    color: #007bff;
}
.logo{
    position: fixed;
    left: 80%; 
    top: 578px;
    width: 20%;
    height: 20%;
    
   
}